<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% load vegetarian_cookbook_tags %}
<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <link href='{% static "vegetarian_cookbook/css/style.css" %}' rel="stylesheet">

    {% if 'javascript_in_head'|bootstrap_setting %}
        <!-- Bootstrap JavaScript if it is in head -->
        <script type="text/javascript" src='{% static "vegetarian_cookbook/js/jquery-3.3.1.min.js" %}' ></script>
        <script type="text/javascript" src='{% static "vegetarian_cookbook/js/brython/brython.js" %}' ></script>
        {% bootstrap_javascript %}
        <script type="text/javascript">
          window.onload = function() {
            brython(1);
          };
        </script>
    {% endif %}
    {% block bootstrap4_extra_head %}{% endblock %}

</head>

<body>
{% block bootstrap4_before_content %}
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg box-shadow navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <strong>{% trans "Vegetarian cookbook" %}</strong>
                </a>
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarCategories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% trans "Categories" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarCategories">
                      {% categories_list 'dropdown-item' %}
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'recipe_tags_ingredients' %}">{% trans "Tags &amp; Ingredients" %}</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="{% trans 'Search' %}" aria-label="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
                </form>
            </div>
            <div class="pos-f-t">
                <nav class="navbar navbar-dark bg-primary ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
              <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-primary p-4">
                    <a href="/" class="navbar-brand d-flex align-items-center">
                        <strong>{% trans "Vegetarian cookbook" %}</strong>
                    </a>
                    <a href="/" class="dropdown-item">{% trans "Home" %}</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link disabled" href="#">{% trans "Categories" %}</a>
                    {% categories_list 'dropdown-item' %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'recipe_tags_ingredients' %}">{% trans "Tags &amp; Ingredients" %}</a>
                </div>
              </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block bootstrap4_content %} CONTENT {% endblock %}
{% block bootstrap4_after_content %}
    <nav class="navbar navbar-dark bg-primary ">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <span class="navbar-text">
                        Vegetarian Cookbook &copy; 2017
                        <small>
                            {% with url='https://creativecommons.org/licenses/by-sa/2.0/' %}
                            {% blocktrans %}All materials of the site are distributed under the terms of the license <a href="{{ url }}">CC-BY-SA</a>
                            {% endblocktrans %}
                        </small>
                        {% endwith %}
                        {% with url='https://github.com/sergey-panasenko/django-vegetarian-cookbook' %}
                        {% blocktrans %}based on <a href="{{ url }}">Django Vegetarian Cookbook</a>{% endblocktrans %}
                        {% endwith %}
                    </span>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% if not 'javascript_in_head'|bootstrap_setting %}
    <!-- Bootstrap JavaScript if it is in body -->
    {% bootstrap_javascript %}
    <script type="text/javascript" src='{% static "vegetarian_cookbook/js/jquery-3.3.1.min.js" %}' ></script>
    <script type="text/javascript" src='{% static "vegetarian_cookbook/js/brython/brython.js" %}' ></script>
    <script type="text/javascript">
      window.onload = function() {
        brython(1);
      };
    </script>
{% endif %}

{% block bootstrap4_extra_script %}{% endblock %}

</body>

</html>
