{% extends "vegetarian_cookbook/base.html" %}
{% load static %}
{% load i18n %}
{% load admin_urls %}
{% load vegetarian_cookbook_tags %}

{% block bootstrap4_extra_head %}
<title>{{ recipe.title }}</title>
<meta name="description" content="{{ seo_description }}">
<meta name="keywords" content="{{ seo_keywords }}">
<meta property="og:title" content="{{ recipe.title }}" />
{% if recipe.image %}
    <meta property="og:image" content="{{recipe.thumbnail.url }}" />
{% endif %}
<link href="{% static 'vegetarian_cookbook/lightbox2/css/lightbox.css' %}" rel="stylesheet">

{% endblock %}

{% block bootstrap4_content %}

<div class="container">
    <div class="recipe recipe-bg js_recipe js_recipe-{{ recipe.id }}">
        <div class="recipe__title row mb-2">
            <div class="col">
                <h2 class="text-center">
                    <a href="{% url 'recipes_category' recipe.category.name %}" class="float-left" title="{{ recipe.category.name }}">
                        {% if recipe.category.image %}
                            <img style="width:32px" src="{{recipe.category.image.url }}">
                        {% else %}
                            {{ recipe.category.name }}
                        {% endif %}
                    </a>
                    <a href="{% url 'recipes_recipe' recipe.url %}">
                         {{ recipe.title }}
                    </a>
                    {% if perms.vegetarian_cookbook.can_change %}
                        <a href="{% url 'admin:vegetarian_cookbook_recipe_change' recipe.id %}" class="float-right">
                            <img class="edit_link" src="{% static 'vegetarian_cookbook/img/edit.png' %}" title="{% trans 'edit' %}">
                        </a>
                    {% endif %}
                 </h2>
            </div>
        </div>
        <div class="recipe__main row">
            <div class="col col-12 col-md-6 col-lg-4 pb-3">
                {% if recipe.image %}
                    <div class="recipe__image">
                        <a href="{{ recipe.image.url }}" data-lightbox="recipeimages" data-title="{{ recipe.title }}" class="">
                            <img src="{{recipe.thumbnail.url }}">
                        </a>
                    </div>
                    <div class="row mx-0">
                        <div class="col col-12">
                            <div class="recipe__images row bg-primary">
                                {% for im in recipe.recipeimage_set.all %}
                                <div class="col col-4 px-0">
                                    <div class="">
                                        <a href="{{ im.image.url }}" data-lightbox="recipeimages" data-title="{{ im.title }}" class="">
                                            <img src="{{ im.thumbnail.url }}" title="{{ im.title }}">
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if recipe.time %}
                    {% recipe_cooking_time recipe.time  %}
                {% endif %}
                <div class="recipe__сomplexity my-2" style="vertical-align:middle">
                    <img width="20" class="mr-1" src="{% static 'vegetarian_cookbook/img/icon_complexity.png' %}"> {{ recipe.get_сomplexity_display }}
                </div>
                <div class="recipe__energy_nutrients__wrapper">
                    {% recipe_energy_nutrients 80 True recipe.energy recipe.protein recipe.fat recipe.carbohydrate  %}
                </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-8">
                <div class="recipe__ingredients">
                    <table class="table">
                    {% for ri in recipe.recipeingredient_set.all %}
                        <tr class="">
                            <td class="p-2">
                                <a href="{% url 'recipes_ingredient' ri.ingredient.name %}">
                                    {{ ri.ingredient.name }}
                                </a>
                            </td>
                            <td class="p-2">
                                {% if ri.quantity %}
                                    {{ ri.quantity | human_float:"1"}}
                                    {% plural_form ri.unit ri.quantity %}
                                    ({{ ri.weight | human_float:"0"}}
                                    {% trans "gr" %})
                                {% else %}
                                    {{ ri.weight | human_float:"0"}}
                                    {% trans "gr" %}
                                {% endif %}
                                {% if ri.roughly %}
                                    *
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                    {% if recipe.has_roughly %}
                        <small> * - {% trans "roughly" %}.</small>
                    {% endif %}
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="recipe__description">
                            {{ recipe.description |safe }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="recipe__main row mt-3">
            <div class="col">
                <div class="">
                    {% for rt in recipe.tags.all %}
                        <button type="button" class="btn btn-sm btn-outline-primary mb-1" onclick="location.href='{% url 'recipes_tags' rt.name %}'">{{ rt.name }}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script type="text/python">
            from browser import window
            import json
            import recipe
            ingredients = []
            {% for ri in recipe.recipeingredient_set.all %}
            ingredients.append( recipe.Ingredient( {{ ri.id }}, {{ ri.ingredient.id }}, "{{ ri.weight }}", "{{ ri.ingredient.energy }}" , "{{ ri.ingredient.protein }}" , "{{ ri.ingredient.fat }}" , "{{ ri.ingredient.carbohydrate }}" ))
            {% endfor %}
            window.recipe = recipe.Recipe( {{ recipe.id }}, ingredients, {{ recipe.weight }});
        </script>
        <div class="recipe__main row">
            <div class="col">
                <div class="recipe__ingredients js_calculator mt-3">
                    <table class="table table-bordered">
                        <thead class="small">
                            <tr class="table-success">
                                <th scope="col" class="align-middle" style="width:35%">
                                    {% trans "Ingredients" %}
                                </th>
                                <th scope="col" class="align-middle" style="width:10%">
                                    {% trans "Weight, gram" %}
                                </th>
                                <th scope="col" class="align-middle d-none d-md-table-cell" style="width:10%">
                                    {% trans "Protein, gr" %}
                                </th>
                                <th scope="col" class="align-middle d-none d-md-table-cell" style="width:10%">
                                    {% trans "Fat, gr" %}
                                </th>
                                <th scope="col" class="align-middle d-none d-md-table-cell" style="width:10%">
                                    {% trans "Carbohydrate, gr" %}
                                </th>
                                <th scope="col" class="align-middle d-none d-sm-table-cell" style="width:10%">
                                    {% trans "Energy, kCal" %}
                                </th>
                                <th scope="col" class="align-middle" style="width:15%">
                                    {% trans "Energy/100g, kCal" %}
                                </th>
                            </tr>
                        </thead>
                    {% for ri in recipe.recipeingredient_set.all %}
                        <tr class="js_recipe_ingredient js_recipe_ingredient-{{ ri.id }}" data-id="{{ ri.id }}">
                            <td class="align-middle">
                                {{ ri.ingredient.name }}
                            </td>
                            <td class="align-middle">
                                <input class="recipe__ingredient__input js_recipe_ingredient_weight" value="{{ ri.weight }}" autocomplete="off">
                                {% if ri.roughly %}
                                    *
                                {% endif %}
                            </td>
                            <td class="align-middle text-right d-none d-md-table-cell recipe_ingredient_protein js_recipe_ingredient_protein">
                                --
                            </td>
                            <td class="align-middle text-right d-none d-md-table-cell recipe_ingredient_fat js_recipe_ingredient_fat">
                                --
                            </td>
                            <td class="align-middle text-right d-none d-md-table-cell recipe_ingredient_carbohydrate js_recipe_ingredient_carbohydrate">
                                --
                            </td>
                            <td class="align-middle text-right d-none d-sm-table-cell recipe_ingredient_calculated_energy js_recipe_ingredient_calculated_energy">
                                --
                            </td>
                            <td class="align-middle text-right table-warning">
                                {{ ri.ingredient.energy | human_float:"0" }}
                            </td>
                        </tr>
                    {% endfor %}
                        <tr class="">
                            <td class="align-middle table-success">
                                <b>{% trans "Total" %}</b>
                            </td>
                            <td class="align-middle table-success">
                                <input class="recipe__ingredients__weigth js_weigth" id="js_weigth" value="{{ recipe.weight }}">
                            </td>
                            <td class="align-middle text-right table-success d-none d-md-table-cell recipe__ingredients__protein js_protein" title="{% trans 'Protein total, gram' %}"></td>
                            <td class="align-middle text-right table-success d-none d-md-table-cell recipe__ingredients__fat js_fat" title="{% trans 'Fat total, gram' %}"></td>
                            <td class="align-middle text-right table-success d-none d-md-table-cell recipe__ingredients__carbohydrate js_carbohydrate" title="{% trans 'Carbohydrate total, gram' %}"></td>
                            <td class="align-middle text-right table-success d-none d-sm-table-cell recipe__ingredients__energytotal js_energytotal" title="{% trans 'Energy total, kiloCalories' %}"></td>
                            <td class="table-success"></td>
                        </tr>
                        <tr class="">
                            <td class="align-middle table-success">
                                <b>{% trans "Per 100 grams" %}</b>
                            </td>
                            <td class="align-middle table-success">
                                <button type="button" class="btn btn-sm btn-warning d-none d-sm-block" title="{% trans 'Recalculate changes to the recipe' %}">{% trans 'Recalculate' %}</button>
                            </td>
                            <td class="align-middle text-right table-success d-none d-md-table-cell recipe__ingredients__protein100 js_protein100" title="{% trans 'Protein  per 100 gramms, gram' %}"></td>
                            <td class="align-middle text-right table-success d-none d-md-table-cell recipe__ingredients__fat100 js_fat100" title="{% trans 'Fat per 100 gramms, gram' %}"></td>
                            <td class="align-middle text-right table-success d-none d-md-table-cell recipe__ingredients__carbohydrate100 js_carbohydrate100" title="{% trans 'Carbohydrate per 100 gramms, gram' %}"></td>
                            <td class="table-success d-none d-sm-table-cell"></td>
                            <td class="align-middle text-right text-center table-success font-weight-bold recipe__ingredients__energy" title="{% trans 'Energy/100g, kiloCalories' %}">
                                <h2 class="badge badge-warning js_energy d-none d-sm-block" style="font-size:150%"></h2>
                                <span class=" js_energy d-block d-sm-none"></h2>
                            </td>
                        </tr>
                    </table>

                    <div class="alert alert-warning js_message">{% trans "please wait" %}</div>
               </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'vegetarian_cookbook/lightbox2/js/lightbox.js' %}"></script>
<script>
    lightbox.option({
      'albumLabel': "{% trans 'Image %1 of %2' %}"
    })
</script>
{% endblock %}
