{% extends "vegetarian_cookbook/base.html" %}
{% load static %}
{% load i18n %}
{% load admin_urls %}
{% load vegetarian_cookbook_tags %}

{% block bootstrap4_extra_head %}
<title>{{ ingredient.name }}</title>
{% endblock %}

{% block bootstrap4_content %}

<div class="container">
    <div class="ingredient recipe-bg js_ingredient js_ingredient-{{ ingredient.id }}">
        <div class="ingredient__title row mb-2">
            <div class="col">
                <h2 class="text-center">
                    <a href="{% url 'recipes_ingredient' ingredient.name %}">
                         {{ ingredient.name }}
                    </a>
                    {% if perms.vegetarian_cookbook.can_change %}
                        <a href="{% url 'admin:vegetarian_cookbook_ingredient_change' ingredient.id %}" class="float-right">
                            <img class="edit_link" src="{% static 'vegetarian_cookbook/img/edit.png' %}" title="{% trans 'edit' %}">
                        </a>
                    {% endif %}
                 </h2>
            </div>
        </div>
        <div class="ingredient__main row">
            <div class="col col-12 col-md-6 col-lg-4 pb-3">
                {% if ingredient.image %}
                    <div class="ingredient__image image100">
                        <img src="{{ingredient.thumbnail.url }}" title="{{ ingredient.name }}">
                    </div>
                {% endif %}
                <div class="ingredient__energy_nutrients__wrapper mt-3">
                    {% recipe_energy_nutrients 80 True ingredient.energy ingredient.protein ingredient.fat ingredient.carbohydrate  %}
                </div>
                <div class="ingredient__nutrient mt-3">
                    {% for nutrient in ingredient.ingredientnutritionalvalue_set.all %}
                        <div class="row p-3">
                            <div class="col col-10 p-1 text-overflow-ellipsis">
                                {{ nutrient.nutrient.name }}
                            </div>
                            <div class="col col-2 p-1 text-right text-nowrap">
                                {{ nutrient.value | human_float }} {{ nutrient.unit }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-8">
                {% if ingredient.description %}
                    <div class="card">
                        <div class="card-body">
                            <div class="ingredient__description">
                                {{ ingredient.description | safe }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="ingredient__recipes mt-3">
                    {% for recipe in recipes %}
                        <p>
                            <a href="{% url 'recipes_category' recipe.category.name %}" title="{{ recipe.category.name }}">
                                {% if recipe.category.image %}
                                    <img style="width:16px" src="{{recipe.category.image.url }}">
                                {% else %}
                                    <span class="badge badge-primary">{{ recipe.category.name }}</span>
                                {% endif %}
                            </a>
                            <a href="{% url 'recipes_recipe' recipe.url %}" class="ml-2">
                                {{ recipe.title }}
                            </a>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
