{% extends "vegetarian_cookbook/base.html" %}
{% load static %}
{% load i18n %}

{% block bootstrap4_extra_head %}
<link href='{% static "vegetarian_cookbook/css/style.css" %}' rel="stylesheet">
<title>{{ title }}</title>
{% endblock %}

{% block bootstrap4_content %}

<div class="container">
    <div class="title">
        <h2>{{ title }}</h2>
    </div>
    {% for recipe in recipes %}
    <div class="recipe">
        <div class="recipe__title row">
            <div class="col">
                <a href="{% url 'recipes_recipe' recipe.url %}">
                    <h2 class="center ">
                        {{ recipe.title }}
                        <a href="{% url 'recipes_category' recipe.category.name %}">
                            <span class="badge badge-info">{{ recipe.category.name }}</span>
                        </a>
                    </h2>
                </a>
                <h5 class="center"></h5>
            </div>
        </div>
        <div class="recipe__image row">
            <div class="col">
                <div class="">
                    <img src="{{recipe.image.url }}">
                </div>
            </div>
        </div>
        <div class="recipe__main row">
            <div class="col">
                <div class="recipe__description">
                     {{ recipe.description |safe }}
               </div>
            </div>
        </div>
        <div class="recipe__main row"admin/reports/status>
            <div class="col">
                <div class="recipe__ingredients">
                    <table>
                    {% for ri in recipe.recipeingredient_set.all %}
                        <tr>
                            <td>
                                {{ ri.ingredient.name }}
                            </td>
                            <td>
                                {{ ri.weight }} {% trans "gram" %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
               </div>
            </div>
        </div>
        <div class="recipe__main row"admin/reports/status>
            <div class="col">
                <div class="recipe__tags">
                    {% for rt in recipe.recipetag_set.all %}
                        <a href="{% url 'recipes_tags' rt.tag.name %}">
                            <button type="button" class="btn btn-secondary">{{ rt.tag.name }}</button>
                        </a>
                    {% endfor %}
               </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
