{% extends "vegetarian_cookbook/base.html" %}
{% load static %}
{% load i18n %}
{% load vegetarian_cookbook_tags %}

{% block bootstrap4_extra_head %}
<title>{{ title }}</title>
{% endblock %}

{% block bootstrap4_content %}

<div class="container">

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">{{ title }}</h1>
        </div>
      </section>

      <div class="py-5 bg-light">
        <div class="container">

          <div class="row">
            {% for recipe in recipes %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <div class="recipe__card_category position-absolute m-2">
                    <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href='{% url 'recipes_category' recipe.category.name %}'" title="{{ recipe.category.name }}">
                        {% if recipe.category.image %}
                            <img style="width:32px" src="{{recipe.category.image.url }}">
                        {% else %}
                            {{ recipe.category.name }}
                        {% endif %}
                    </button>
                </div>
                <a href="{% url 'recipes_recipe' recipe.url %}">
                    <img class="card-img-top" src="{{recipe.thumbnail.url }}" alt="{{ recipe.title }}">
                </a>
                <div class="card-body position-relative">
                    <div class="position-absolute" style="top:-80px; z-index:3">
                        {% recipe_energy_nutrients 60 False recipe.energy recipe.protein recipe.fat recipe.carbohydrate  %}
                    </div>
                    <a href="{% url 'recipes_recipe' recipe.url %}">
                        <h6 class="text-center mb-1">
                            {{ recipe.title }}
                        </h6>
                    </a>
                    {% ingredients_list 5 recipe.recipeingredient_set.all %}
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group overflow-hidden">
                        {% for rt in recipe.tags.all|slice:":3" %}
                            <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href='{% url 'recipes_tags' rt.name %}'">{{ rt.name }}</button>
                        {% endfor %}

                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>

    </main>

</div>

{% endblock %}
