{% extends "vegetarian_cookbook/base.html" %}
{% load static %}
{% load i18n %}
{% load vegetarian_cookbook_tags %}

{% block bootstrap4_extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'vegetarian_cookbook/jqcloud/jqcloud.css' %}" />
<script type="text/javascript" src="{% static 'vegetarian_cookbook/jqcloud/jqcloud-1.0.4.js' %}"></script>
<title>{{ title }}</title>
<meta name="description" content="{{ seo_description }}">
<meta name="keywords" content="{{ seo_keywords }}">
{% endblock %}

{% block bootstrap4_content %}

<div class="container">
    <main role="main">
        <div class="recipe-list_title recipe-bg  text-center">
          <h1 class="text-primary">{{ title }}</h1>
        </div>
        <div class="recipe-list_title recipe-bg">
            <div class="row m-0 pt-3">
                <script type="text/javascript">
                    var word_list = [
                    {% for tag in tags %}
                        {text: "{{ tag.name }}", weight: {{ tag.weight }} , link: decodeURI("{% url 'recipes_tags' tag.name %}")},
                    {% endfor %}
                    ];
                    {% for tag in tags %}
                        console.log(decodeURI("{% url 'recipes_tags' tag.name %}"));
                    {% endfor %}
                    $(function() {
                        $(".js_tags_cloud").jQCloud(word_list, {shape: "rectangular"});
                    });
                </script>
                <div class="col col-12 col-lg-4 tags_cloud js_tags_cloud">
                </div>
                <div class="col col-12 col-lg-8">
                    <form class="pt-2" method="POST" action="{% url 'recipe_tags_ingredients' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col col-12">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control form-control-lg" name="search" value="{{ search }}" class="form-control mr-sm-2" type="search" placeholder="{% trans 'Search' %}" aria-label="{% trans 'Search' %}" autofocus>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit">{% trans "Search" %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col">
                            {% paginator ingredients %}
                        </div>
                    </div>
                    {% if ingredients %}
                        <div class="row">
                            {% for ingredient in ingredients %}
                                <div class="col col-6 col-md-3 col-lg-3">
                                    <div class="card mb-4 box-shadow ingredient_card">
                                        {% if ingredient.image %}
                                            <a href="{% url 'recipes_ingredient' ingredient.name %}">
                                                <img class="card-img-top" src="{{ingredient.thumbnail.url }}" alt="{{ ingredient.name }}">
                                            </a>
                                        {% endif %}
                                        <div class="card-body">
                                            <p class="card-text">
                                                <a href="{% url 'recipes_ingredient' ingredient.name %}">{{ ingredient.name }}</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {% trans "No results." %}
                    {% endif %}
                    <div class="row">
                        <div class="col">
                            {% paginator ingredients %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}
