{% load i18n %}
{% load vegetarian_cookbook_tags %}

<div class="p-2 recipe_ingredients_list">
    {% for ri in ingredients %}
        <div class="row">
            <div class="col col-12 p-1 text-overflow-ellipsis">
                        {{ ri.ingredient.name }}
            </div>
        </div>
    {% endfor %}
    {% for s in empty_row %}
        <div class="row">
            <div class="col col-12 p-1">
                &nbsp;
            </div>
        </div>
    {% endfor %}
    {% if more %}
        <div class="row">
            <div class="col col-12 p-1 text-right text-nowrap">
                {% blocktrans count more=more %}plus {{ more }} ingredient{% plural %}plus {{ more }} ingredients{% endblocktrans %}
            </div>
        </div>
    {% endif %}
</div>
