{% load i18n %}

<div class="p-2 recipe_ingredients_list">
    {% for ri in ingredients %}
        <div class="row">
            <div class="col col-10 p-1 text-overflow-ellipsis">
                        {{ ri.ingredient.name }}
            </div>
            <div class="col col-2 p-1 text-right text-nowrap">
                    {{ ri.weight }} {% trans "gr" %}
            </div>
        </div>
    {% endfor %}
    {% if more %}
        <div class="row">
            <div class="col col-10 p-1 text-right text-nowrap">
                {% blocktrans %}plus {{ more }} ingredients{% endblocktrans %}
            </div>
        </div>
    {% endif %}
</div>
