{% load i18n %}
{% load static %}

<div class="recipe_cooking_time mt-3">
    <svg width="20" height="20" viewBox="0 0 100 100" class="recipe_cooking_time_svg">
        <circle stroke="#78C2AD" stroke-width="8" fill="transparent" r="45" cx="50" cy="50"/>
        <line stroke="#78C2AD" stroke-width="8" stroke-linecap="round" x1="50" y1="50" x2="50" y2="20" />
        <line stroke="#78C2AD" stroke-width="8" stroke-linecap="round" x1="50" y1="50" x2="50" y2="27" transform="translate(50 50) rotate(220) translate(-50 -50)" />
    </svg>
    <span  class="recipe_cooking_time_text pl-2">
        {% if hours %}
                {% blocktrans count hours=hours %}{{ hours }} hour {% plural %}{{ hours }} hours {% endblocktrans %}
                {% if minutes %}
                    {% blocktrans count minutes=minutes %}{{ minutes }} minute {% plural %}{{ minutes }} minutes {% endblocktrans %}
                {% endif %}
        {% else %}
            {% blocktrans count minutes=minutes %}{{ minutes }} minute {% plural %}{{ minutes }} minutes {% endblocktrans %}
        {% endif %}
    </span>
</div>
