.text-overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.overflow-hidden {
    overflow: hidden;
}

body {
}

.image100 img {
    width:100%
}

.recipe-bg,.title {
    background:#fafafa;
    margin:10px;
    border-radius:20px;
    padding:10px 20px;
    z-index:1;
    position:relative
}

.recipe__image img,
.recipe__images img {
    width:100%;
}

.recipe__main table {
    width:100%;
}

.recipe__card_category {
    right:0;
}
.recipe__card_category .btn {
    background: rgba(255,255,255,.8)
}
.recipe__ingredients > table input {
    width:100%;
}

.recipe__energy_nutrients__wrapper {
    width:235px;
    margin:0 auto;
}
.recipe_energy_nutrients {
    position:relative;
}
.recipe_energy_nutrients_svg {
    position:absolute;
    top:0;
    left:0;
}
.recipe_energy_nutrients_legend {
    width:165px;
    position:absolute;
    top:0;
    padding-left:10px;
}
.recipe_energy_nutrients_legend > div {
    background:white;
    border-radius:5px;
    padding:
}
.recipe_energy_nutrients_legend > div > table{
    font-size:12px;
    width:100%;
}
.recipe_energy_nutrients_legend > div > table div {
    margin:0 2px 2px 0;
}
.recipe_energy_nutrients_legend {
    display:none;
}
.recipe_energy_nutrients:hover .recipe_energy_nutrients_legend {
    display: block;
}

.recipe-list .recipe_energy_nutrients_legend {
    left: -152px!important;
    height: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: white;
    top: -61px;
    padding:2px;
    border-radius:5px;
}
.recipe__card_image {
    min-height:100px;
}

.color-protein {
    color: #FF8888;
    stroke: #FF8888;
}
.color-fat {
    color: #FFDB00;
    stroke: #FFDB00;
}
.color-carbohydrate {
    color: #90EE90;
    stroke: #90EE90;
}

.tags_cloud {
    height:300px;
}
.ingredient_card {
    min-height: 90%;
}

.edit_link {
    width:32px
}

.tag-list button {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ingredient__energy_nutrients__wrapper {
    width:235px;
    margin:0 auto;
}

.recipe_cooking_time {
    display: table;
}
.recipe_cooking_time_svg,
.recipe_cooking_time_text {
    display: table-cell;
    vertical-align: middle;
}

.сomplexity {
    position:absolute;
    top:-25px;
    left:0.75rem;
    width:70px;
    height:20px;
    border-radius:10px;
}
.сomplexity-circle {
    display:inline-block;
    float:left;
    width:8px;
    background: #ffffff;
    height:8px;
    border-radius:4px;
    margin:4px;
}
.сomplexity-1 .сomplexity-circle-1,
.сomplexity-2  .сomplexity-circle-1,
.сomplexity-2  .сomplexity-circle-2,
.сomplexity-3  .сomplexity-circle-1,
.сomplexity-3  .сomplexity-circle-2,
.сomplexity-3  .сomplexity-circle-3 {
   background: #90EE90;
}

.navbar{
    padding: 0.25rem 0.5rem;
}

.mobile-search svg {
    margin-top:4px;
}
@media (max-width: 576px) {
    .container {
        padding-right: 3px;
        padding-left: 3px;
    }
    .recipe-bg {
        padding: 10px 10px;
    }
    .navbar {
        padding: 3px 3px;
    }
    .mobile-search {
        width:80%
    }
    .navbar-brand {
        font-size: 1rem;
    }
}
