.text-overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.overflow-hidden {
    overflow: hidden;
}

body {
}

.recipe-bg,.title {
    background:#fafafa;
    margin:10px;
    border-radius:20px;
    padding:10px 20px;
    z-index:1;
    position:relative
}

.recipe__image img,
.recipe__images img {
    width:100%;
}

.recipe__main table {
    width:100%;
}

.recipe__card_category {
    right:0;
}
.recipe__card_category .btn {
    background: rgba(255,255,255,.8)
}
.recipe__ingredients > table input {
    width:100%;
}

.recipe__energy_nutrients__wrapper {
    width:235px;
    margin:0 auto;
}
.recipe_energy_nutrients {
    position:relative;
}
.recipe_energy_nutrients_svg {
    position:absolute;
    top:0;
    left:0;
}
.recipe_energy_nutrients_legend {
    width:165px;
    position:absolute;
    top:0;
    padding-left:10px;
}
.recipe_energy_nutrients_legend > div {
    background:white;
    border-radius:5px;
    padding:
}
.recipe_energy_nutrients_legend > div > table{
    font-size:12px;
}
.recipe_energy_nutrients_legend > div > table div {
    margin:0 2px 2px 0;
}
.recipe_energy_nutrients_legend {
    display:none;
}
.recipe_energy_nutrients:hover .recipe_energy_nutrients_legend {
    display: block;
}

.color-protein {
    color: #FF8888;
    stroke: #FF8888;
}
.color-fat {
    color: #FFDB00;
    stroke: #FFDB00;
}
.color-carbohydrate {
    color: #90EE90;
    stroke: #90EE90;
}

.tags_cloud {
    height:300px;
}
.ingredient_card {
    min-height: 90%;
}

.edit_link {
    width:32px
}


.ingredient__energy_nutrients__wrapper {
    width:235px;
    margin:0 auto;
}

.image100 img {
    width:100%
}
